
@media screen and (max-width:481px)
{
    .homeFooter {
        background-color: #2C534D;
        height:40rem;
        width:100vw;
        color: white;
        font-size:2.8rem;
        padding-left:5%;
        padding-top:5%;
        word-wrap: break-word;
    }

    .textContainer {
        inline-size:20rem;
        font-family:"Almarai",sans-serif;
    }
}



@media screen and (min-width:482px) and (max-width:550px)
{
    .homeFooter {
        background-color: #2C534D;
        height:30rem;
        width:100vw;
        color: white;
        font-size:2.8rem;
        padding-left:5%;
        padding-top:5%;
        word-wrap: break-word;
    }

    .textContainer {
        inline-size:20rem;
        font-family:"Almarai",sans-serif;
    }
    


}

/* 550 pixels */
@media screen and (min-width:550px) and (max-width:1129px)
{
    .homeFooter {
        background-color: #2C534D;
        height:38rem;
        width:100vw;
        color: white;
        font-size:4.2rem;
        word-wrap: break-word;
        display:flex;
        justify-content: center;
        align-items: center;
        
    }

    .textContainer {
        inline-size:38rem;
        font-family:"Almarai",sans-serif;
        margin-bottom:5%;
    }
}


/* 1130px */
@media screen and (min-width:1130px)
{
    .homeFooter {
        background-color: #2C534D;
        height:10rem;
        width:100vw;
        color: white;
        font-size:2.6rem;
        word-wrap: break-word;
        display:flex;
        justify-content: center;
        align-items: center;
        
    }

    .textContainer {
        font-family:"Almarai",sans-serif;    
        margin-right:8%;  
}
}