@font-face {
    font-family: "Almarai";
    src: url("../assets/fonts/Almarai/Almarai-Regular.ttf") format('truetype');
}

.LoginDesc {
    font-family:"Almarai",sans-serif;
    margin-left:8%;
    margin-right:8%;
    text-align: center;
    font-size:1rem;
}