@font-face {
    font-family: "Almarai";
    src: url("../assets/fonts/Almarai/Almarai-Regular.ttf") format('truetype');
}

@media screen and (max-width:299px)
{
    .CheckoutDialogue {
        background-color: white;
        border-radius: 1rem 1rem 1rem 1rem;
        height:40rem;
        width:16rem;
        filter: drop-shadow(1.5px 2px 0.08rem rgba(0,0,0,0.6));
        display:flex;
        flex-direction: column;
        font-family:"Almarai";
    }
    
    .errorMessage {
        font-family:"Almarai",sans-serif;
        display:block;
        justify-content: center;
        margin-left:8%;
        font-size:1.4rem;
        text-align: center;
        margin-top:5%;
        inline-size: 20rem;
    
    }
    
    .CheckoutButtonContainer {
        width:100%;
        display: flex;
        justify-content: center;
        margin-top:5%;
        
        
        }
        
        .CheckoutButton {
        width:8rem;
        height:3rem;
        border:none;
        background-color:#4285F4;
        border-radius: 1rem;
        color:white;
        font-family:"Almarai",sans-serif;
        font-size:1.3rem;
        font-weight: bold;
        }


}

@media screen and (min-width:300px)
{

.CheckoutDialogue {
    background-color: white;
    border-radius: 1rem 1rem 1rem 1rem;
    height:60rem;
    width:50rem;
    filter: drop-shadow(1.5px 2px 0.08rem rgba(0,0,0,0.6));
    display:flex;
    flex-direction: column;
    font-family:"Almarai";
}

.errorMessage {
    font-family:"Almarai",sans-serif;
    display:block;
    justify-content: center;
    margin-left:8%;
    font-size:1.4rem;
    text-align: center;
    margin-top:5%;
    inline-size: 20rem;

}

.CheckoutButtonContainer {
    width:100%;
    display: flex;
    justify-content: center;
    margin-top:5%;
    
    
    }
    
    .CheckoutButton {
    width:20rem;
    height:3rem;
    border:none;
    background-color:#4285F4;
    border-radius: 1rem;
    color:white;
    font-family:"Almarai",sans-serif;
    font-size:1.3rem;
    font-weight: bold;

    }
}