@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Inter&family=Poppins:wght@200&display=swap');

.signUpDesc {
    font-family:"Almarai",sans-serif;
    margin-left:8%;
    margin-right:8%;
    text-align: center;
    font-size:1rem;
}

.loginRedirect {
    border:none;
    background-color: white;
    color:#4285F4;
    text-decoration: underline;
}