@media screen and (max-width:449px)
{
    .baseButton {
    border:none;
    height:1.6rem;
    width:4rem;
    border-radius: 15px 15px 15px 15px;
    font-family:"Maven Pro","sans-serif";
    font-size:0.6rem;
    margin-top:1%;
    margin-right:1.5%;
    margin-left:1.5%;
}

}

/* 
@media screen and (min-width:400px) and (max-width:999px)
{
    .baseButton {
    border:none;
    height:1.32rem;
    width:4rem;
    border-radius: 15px 15px 15px 15px;
    font-family:"Maven Pro","sans-serif";
    font-size:0.5rem;
    margin-top:1%;
    margin-right:1.5%;
    margin-left:1.5%;
}

.filterToggleButtonOn {
        background-color:#59E09F;
}
} */


@media screen and (min-width:450px)
{
    .baseButton {
    border:none;
    height:2rem;
    width:6rem;
    border-radius: 15px 15px 15px 15px;
    font-family:"Maven Pro","sans-serif";
    margin-top:1%;
    margin-right:1.5%;
    margin-left:1.5%;
}


}

.filterToggleButtonOn {
    background-color:#59E09F;
}





